.container 
  .comment 
    .comment-header 
      = link_to root_path do 
        = image_tag 'back.svg', class: 'return-btn'
    %p.comment-title Comment

  .post 
    .comments-container{id: @post.id}